<!--Declarative Templating-->
{{!< ../../templates/defaultDeclarative}}

{{#contentFor "pageStyles"}}
<style>
  #veggie-list {
    color: black
  }
</style>
{{/contentFor}}

<h1>{{title}}</h1>
<ul>
    {{#each veggies}}
    <li id="veggie-list">
      <a href="/veggies/details/{{this.name}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
<button id="clickBtn">Click Me</button>


{{#contentFor "pageScripts"}}
<script type="text/javascript">
 $(document).ready(function(){
   $("#clickBtn").click(function(){
     alert("Button clicked");
   });
 });
</script>
{{/contentFor}}